a:link{
    color:black ;
    background-color: transparent;
    text-decoration: none;
    }
a.header{
    color:732918;
    background-color: transparent;
    padding: 120px;
    margin: 10px;
    text-decoration: none;
    text-align: center;


    }
    
a:active {
    color: rgb(233, 183, 84);
    background-color: transparent;

        }
.center{
    text-align: center;
    padding: right 60px ;
    font-size: 100px;
    color:732918;

}
.image
{
    display: block;
    margin-left: 500px;
    margin-right: 500px;
    filter: blur(8px);
-webkit-filter: blur(8px);

}

.container 
    {
    margin: auto;
    padding: top;
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(5, 4, 4);
    background-image: url("https://images.unsplash.com/photo-1475250365338-5784b5ef4cea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 400px;
    width: 100%;

    }

.centered 
{
    position: absolute;
    padding: auto;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.beans{
    padding:30px;
    margin:auto;
    font-size: 40px;
    text-align: center;
    color:black;
    font-style: italic;

}
.box {
    padding: 30px;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.min-content 
{
    width: min-content;
    border: 2px line rgb(11, 12, 13);
    font-size: 17px;
}
p 
{
    padding: 50px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 3px;
    margin-inline-end: 4px;
    background: rgba(245, 245, 220,0.2);
   
}

h1 {
    padding: 20px;
    font-style: oblique;
    font-size: 80px;
}

.box1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 600px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
.box1:hover{
    box-shadow: 0 8px 16px 0;
}
.b{
    padding-bottom: 55px;
    text-align: center;
    text-decoration: bold;
    font-style: italic;
    font-size: medium;
}
img{
    width: 300px;
    height:350px;
}

.cafe{
    border: 10px 0px 50px 0px;
    margin-top: 350px;
    margin-bottom: 150px;
    padding: 200px 0px 30px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(5, 4, 4);
    background-image: url("https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    width:100%;
    background-image:fit ;
    height: 600px; 
    background-size: cover;

}
.points{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(5, 4, 4);
}

aside{
    width: 30%;
    padding-left: 30px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color:beige;
    opacity: 0.6;
    float: inherit;
}
.footer{
padding-top: 40px;
background-image:url("https://images.unsplash.com/photo-1578583112957-2dcf6878aeae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
width: 100%x;
height: 400px;
background-size: cover;
background-position: bottom;
/* margin:30px 0px 0px 0px ; */
position: relative;
color: #822828d6;
font-size: 40%;
}

.bottom-left {
    position: relative;
    bottom: 8px;
    left: 16px;
    font-size: medium;
    font-weight: bold;
    font-display: column;
    padding-top: 90px;
  }

h2{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}